@font-face {
    font-family: __Inter_36bd41;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/55c55f0601d81cf3-s.woff2) format("woff2");
    unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f, U+fe2e-fe2f
}

@font-face {
    font-family: __Inter_36bd41;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/26a46d62cd723877-s.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116
}

@font-face {
    font-family: __Inter_36bd41;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/97e0cb1ae144a2a9-s.woff2) format("woff2");
    unicode-range: U+1f??
}

@font-face {
    font-family: __Inter_36bd41;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/581909926a08bbc8-s.woff2) format("woff2");
    unicode-range: U+0370-0377, U+037a-037f, U+0384-038a, U+038c, U+038e-03a1, U+03a3-03ff
}

@font-face {
    font-family: __Inter_36bd41;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/df0a9ae256c0569c-s.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1, U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1ea0-1ef9, U+20ab
}

@font-face {
    font-family: __Inter_36bd41;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/6d93bde91c0c2823-s.woff2) format("woff2");
    unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff, U+2020, U+20a0-20ab, U+20ad-20c0, U+2113, U+2c60-2c7f, U+a720-a7ff
}

@font-face {
    font-family: __Inter_36bd41;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/a34f9d1faa5f3315-s.p.woff2) format("woff2");
    unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
    font-family: __Inter_Fallback_36bd41;
    src: local("Arial");
    ascent-override: 90.20%;
    descent-override: 22.48%;
    line-gap-override: 0.00%;
    size-adjust: 107.40%
}

.__className_36bd41 {
    font-family: __Inter_36bd41, __Inter_Fallback_36bd41;
    font-style: normal
}

@font-face {
    font-family: font;
    src: url(DeliciousHandrawn-Regular.b6c5e6b0.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
    font-family: font;
    font-weight: 600
}

* #dropdownbasic,
* .dropdownmenushow,
* img,
* p,
* ul {
    margin: 0 !important;
    padding: 0 !important
}

* img {
    max-width: 100% !important
}

* .MuiGriditem,
* .MuiGridroot {
    margin: 0 !important
}

html {
    font-size: 1.1vw !important
}

@media screen and (max-width:2560px) {
    html {
        font-size: .9vw !important
    }
}

@media screen and (max-width:1920px) {
    html {
        font-size: 1vw !important
    }
}

@media screen and (max-width:1440px) {
    html {
        font-size: 1.4vw !important
    }
}

@media screen and (max-width:1024px) {
    html {
        font-size: 1.2vw !important
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 1.3vw !important
    }
}

@media screen and (max-width:425px) {
    html {
        font-size: 3vw !important
    }
}

.containerkws {
    width: 95% !important;
    margin: auto !important
}

@media screen and (max-width:1800px) {
    .containerkws {
        width: 95% !important;
        margin: auto !important
    }
}

@media screen and (max-width:900px) {
    .containerkws {
        width: 95% !important;
        margin: auto !important
    }
}

.ma {
    margin: auto !important
}

.ma0 {
    margin: 0 !important
}

.ma05 {
    margin: .5rem !important
}

.ma1 {
    margin: 1rem !important
}

.ma15 {
    margin: 1.5rem !important
}

.ma2 {
    margin: 2rem !important
}

.ma25 {
    margin: 2.5rem !important
}

.ma3 {
    margin: 3rem !important
}

.ma35 {
    margin: 3.5rem !important
}

.ma4 {
    margin: 4rem !important
}

.ma45 {
    margin: 4.5rem !important
}

.ma5 {
    margin: 5rem !important
}

.ma55 {
    margin: 5.5rem !important
}

.ma6 {
    margin: 6rem !important
}

.ma65 {
    margin: 6.5rem !important
}

.ma7 {
    margin: 7rem !important
}

.ml0 {
    margin-left: 0 !important
}

.ml05 {
    margin-left: .5rem !important
}

.ml1 {
    margin-left: 1rem !important
}

.ml15 {
    margin-left: 1.5rem !important
}

.ml2 {
    margin-left: 2rem !important
}

.ml25 {
    margin-left: 2.5rem !important
}

.ml3 {
    margin-left: 3rem !important
}

.ml35 {
    margin-left: 3.5rem !important
}

.ml4 {
    margin-left: 4rem !important
}

.ml45 {
    margin-left: 4.5rem !important
}

.ml5 {
    margin-left: 5rem !important
}

.ml55 {
    margin-left: 5.5rem !important
}

.ml6 {
    margin-left: 6rem !important
}

.ml65 {
    margin-left: 6.5rem !important
}

.ml7 {
    margin-left: 7rem !important
}

.mr0 {
    margin-right: 0 !important
}

.mr05 {
    margin-right: .5rem !important
}

.mr1 {
    margin-right: 1rem !important
}

.mr15 {
    margin-right: 1.5rem !important
}

.mr2 {
    margin-right: 2rem !important
}

.mr25 {
    margin-right: 2.5rem !important
}

.mr3 {
    margin-right: 3rem !important
}

.mr35 {
    margin-right: 3.5rem !important
}

.mr4 {
    margin-right: 4rem !important
}

.mr45 {
    margin-right: 4.5rem !important
}

.mr5 {
    margin-right: 5rem !important
}

.mr55 {
    margin-right: 5.5rem !important
}

.mr6 {
    margin-right: 6rem !important
}

.mr65 {
    margin-right: 6.5rem !important
}

.mr7 {
    margin-right: 7rem !important
}

.mt0 {
    margin-top: 0 !important
}

.mt05 {
    margin-top: .5rem !important
}

.mt1 {
    margin-top: 1rem !important
}

.mt15 {
    margin-top: 1.5rem !important
}

.mt2 {
    margin-top: 2rem !important
}

.mt25 {
    margin-top: 2.5rem !important
}

.mt3 {
    margin-top: 3rem !important
}

.mt35 {
    margin-top: 3.5rem !important
}

.mt4 {
    margin-top: 4rem !important
}

.mt45 {
    margin-top: 4.5rem !important
}

.mt5 {
    margin-top: 5rem !important
}

.mt55 {
    margin-top: 5.5rem !important
}

.mt6 {
    margin-top: 6rem !important
}

.mt65 {
    margin-top: 6.5rem !important
}

.mt7 {
    margin-top: 7rem !important
}

.mb0 {
    margin-bottom: 0 !important
}

.mb05 {
    margin-bottom: .5rem !important
}

.mb1 {
    margin-bottom: 1rem !important
}

.mb15 {
    margin-bottom: 1.5rem !important
}

.mb2 {
    margin-bottom: 2rem !important
}

.mb25 {
    margin-bottom: 2.5rem !important
}

.mb3 {
    margin-bottom: 3rem !important
}

.mb35 {
    margin-bottom: 3.5rem !important
}

.mb4 {
    margin-bottom: 4rem !important
}

.mb45 {
    margin-bottom: 4.5rem !important
}

.mb5 {
    margin-bottom: 5rem !important
}

.mb55 {
    margin-bottom: 5.5rem !important
}

.mb6 {
    margin-bottom: 6rem !important
}

.mb65 {
    margin-bottom: 6.5rem !important
}

.mb7 {
    margin-bottom: 7rem !important
}

.my0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important
}

.my05 {
    margin-bottom: .5rem !important;
    margin-top: .5rem !important
}

.my1 {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important
}

.my15 {
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important
}

.my2 {
    margin-bottom: 2rem !important;
    margin-top: 2rem !important
}

.my25 {
    margin-bottom: 2.5rem !important;
    margin-top: 2.5rem !important
}

.my3 {
    margin-bottom: 3rem !important;
    margin-top: 3rem !important
}

.my35 {
    margin-bottom: 3.5rem !important;
    margin-top: 3.5rem !important
}

.my4 {
    margin-bottom: 4rem !important;
    margin-top: 4rem !important
}

.my45 {
    margin-bottom: 4.5rem !important;
    margin-top: 4.5rem !important
}

.my5 {
    margin-bottom: 5rem !important;
    margin-top: 5rem !important
}

.my55 {
    margin-bottom: 5.5rem !important;
    margin-top: 5.5rem !important
}

.my6 {
    margin-bottom: 6rem !important;
    margin-top: 6rem !important
}

.my65 {
    margin-bottom: 6.5rem !important;
    margin-top: 6.5rem !important
}

.my7 {
    margin-bottom: 7rem !important;
    margin-top: 7rem !important
}

.mx0 {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.mx05 {
    margin-left: .5rem !important;
    margin-right: .5rem !important
}

.mx1 {
    margin-left: 1rem !important;
    margin-right: 1rem !important
}

.mx15 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important
}

.mx2 {
    margin-left: 2rem !important;
    margin-right: 2rem !important
}

.mx25 {
    margin-left: 2.5rem !important;
    margin-right: 2.5rem !important
}

.mx3 {
    margin-left: 3rem !important;
    margin-right: 3rem !important
}

.mx35 {
    margin-left: 3.5rem !important;
    margin-right: 3.5rem !important
}

.mx4 {
    margin-left: 4rem !important;
    margin-right: 4rem !important
}

.mx45 {
    margin-left: 4.5rem !important;
    margin-right: 4.5rem !important
}

.mx5 {
    margin-left: 5rem !important;
    margin-right: 5rem !important
}

.mx55 {
    margin-left: 5.5rem !important;
    margin-right: 5.5rem !important
}

.mx6 {
    margin-left: 6rem !important;
    margin-right: 6rem !important
}

.mx65 {
    margin-left: 6.5rem !important;
    margin-right: 6.5rem !important
}

.mx7 {
    margin-left: 7rem !important;
    margin-right: 7rem !important
}

.pa {
    padding: auto !important
}

.pa0 {
    padding: 0 !important
}

.pa05 {
    padding: .5rem !important
}

.pa1 {
    padding: 1rem !important
}

.pa15 {
    padding: 1.5rem !important
}

.pa2 {
    padding: 2rem !important
}

.pa25 {
    padding: 2.5rem !important
}

.pa3 {
    padding: 3rem !important
}

.pa35 {
    padding: 3.5rem !important
}

.pa4 {
    padding: 4rem !important
}

.pa45 {
    padding: 4.5rem !important
}

.pa5 {
    padding: 5rem !important
}

.pa55 {
    padding: 5.5rem !important
}

.pa6 {
    padding: 6rem !important
}

.pa65 {
    padding: 6.5rem !important
}

.pa7 {
    padding: 7rem !important
}

.pb0 {
    padding-bottom: 0 !important
}

.pb05 {
    padding-bottom: .5rem !important
}

.pb1 {
    padding-bottom: 1rem !important
}

.pb15 {
    padding-bottom: 1.5rem !important
}

.pb2 {
    padding-bottom: 2rem !important
}

.pb25 {
    padding-bottom: 2.5rem !important
}

.pb3 {
    padding-bottom: 3rem !important
}

.pb35 {
    padding-bottom: 3.5rem !important
}

.pb4 {
    padding-bottom: 4rem !important
}

.pb45 {
    padding-bottom: 4.5rem !important
}

.pb5 {
    padding-bottom: 5rem !important
}

.pb55 {
    padding-bottom: 5.5rem !important
}

.pb6 {
    padding-bottom: 6rem !important
}

.pb65 {
    padding-bottom: 6.5rem !important
}

.pb7 {
    padding-bottom: 7rem !important
}

.pr0 {
    padding-right: 0 !important
}

.pr05 {
    padding-right: .5rem !important
}

.pr1 {
    padding-right: 1rem !important
}

.pr15 {
    padding-right: 1.5rem !important
}

.pr2 {
    padding-right: 2rem !important
}

.pr25 {
    padding-right: 2.5rem !important
}

.pr3 {
    padding-right: 3rem !important
}

.pr35 {
    padding-right: 3.5rem !important
}

.pr4 {
    padding-right: 4rem !important
}

.pr45 {
    padding-right: 4.5rem !important
}

.pr5 {
    padding-right: 5rem !important
}

.pr55 {
    padding-right: 5.5rem !important
}

.pr6 {
    padding-right: 6rem !important
}

.pr65 {
    padding-right: 6.5rem !important
}

.pr7 {
    padding-right: 7rem !important
}

.pl0 {
    padding-left: 0 !important
}

.pl05 {
    padding-left: .5rem !important
}

.pl1 {
    padding-left: 1rem !important
}

.pl15 {
    padding-left: 1.5rem !important
}

.pl2 {
    padding-left: 2rem !important
}

.pl25 {
    padding-left: 2.5rem !important
}

.pl3 {
    padding-left: 3rem !important
}

.pl35 {
    padding-left: 3.5rem !important
}

.pl4 {
    padding-left: 4rem !important
}

.pl45 {
    padding-left: 4.5rem !important
}

.pl5 {
    padding-left: 5rem !important
}

.pl55 {
    padding-left: 5.5rem !important
}

.pl6 {
    padding-left: 6rem !important
}

.pl65 {
    padding-left: 6.5rem !important
}

.pl7 {
    padding-left: 7rem !important
}

.pt0 {
    padding-top: 0 !important
}

.pt05 {
    padding-top: .5rem !important
}

.pt1 {
    padding-top: 1rem !important
}

.pt15 {
    padding-top: 1.5rem !important
}

.pt2 {
    padding-top: 2rem !important
}

.pt25 {
    padding-top: 2.5rem !important
}

.pt3 {
    padding-top: 3rem !important
}

.pt35 {
    padding-top: 3.5rem !important
}

.pt4 {
    padding-top: 4rem !important
}

.pt45 {
    padding-top: 4.5rem !important
}

.pt5 {
    padding-top: 5rem !important
}

.pt55 {
    padding-top: 5.5rem !important
}

.pt6 {
    padding-top: 6rem !important
}

.pt65 {
    padding-top: 6.5rem !important
}

.pt7 {
    padding-top: 7rem !important
}

.px0 {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.px05 {
    padding-left: .5rem !important;
    padding-right: .5rem !important
}

.px1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important
}

.px15 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important
}

.px2 {
    padding-left: 2rem !important;
    padding-right: 2rem !important
}

.px25 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important
}

.px3 {
    padding-left: 3rem !important;
    padding-right: 3rem !important
}

.px35 {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important
}

.px4 {
    padding-left: 4rem !important;
    padding-right: 4rem !important
}

.px45 {
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important
}

.px5 {
    padding-left: 5rem !important;
    padding-right: 5rem !important
}

.px55 {
    padding-left: 5.5rem !important;
    padding-right: 5.5rem !important
}

.px6 {
    padding-left: 6rem !important;
    padding-right: 6rem !important
}

.px65 {
    padding-left: 6.5rem !important;
    padding-right: 6.5rem !important
}

.px7 {
    padding-left: 7rem !important;
    padding-right: 7rem !important
}

.py0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.py05 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important
}

.py1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.py15 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}

.py2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important
}

.py25 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important
}

.py3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

.py35 {
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important
}

.py4 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important
}

.py45 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important
}

.py5 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important
}

.py55 {
    padding-top: 5.5rem !important;
    padding-bottom: 5.5rem !important
}

.py6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important
}

.py65 {
    padding-top: 6.5rem !important;
    padding-bottom: 6.5rem !important
}

.py7 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important
}

.fs0 {
    font-size: 0 !important
}

.fs08 {
    font-size: .8rem !important
}

.fs1 {
    font-size: 1rem !important
}

.fs125 {
    font-size: 1.25rem !important
}

.fs15 {
    font-size: 1.5rem !important
}

.fs2 {
    font-size: 2rem !important
}

.fs25 {
    font-size: 2.5rem !important
}

.fs3 {
    font-size: 3rem !important
}

.fs35 {
    font-size: 3.5rem !important
}

.fs4 {
    font-size: 4rem !important
}

.fs45 {
    font-size: 4.5rem !important
}

.fs5 {
    font-size: 5rem !important
}

.fs55 {
    font-size: 5.5rem !important
}

.fs6 {
    font-size: 6rem !important
}

.fs65 {
    font-size: 6.5rem !important
}

.fs7 {
    font-size: 7rem !important
}

.fw400 {
    font-weight: 400 !important
}

.fw600 {
    font-weight: 600 !important
}

.fw800 {
    font-weight: 800 !important
}

.fw900 {
    font-weight: 900 !important
}

.fsi {
    font-style: italic !important
}

.tal {
    text-align: left !important
}

.tar {
    text-align: right !important
}

.tac {
    text-align: center !important;
}

.tdu {
    text-decoration: underline !important
}

.tdn {
    text-decoration: none !important
}

.ttu {
    text-transform: uppercase !important
}

.ttl {
    text-transform: lowercase !important
}

.ttc {
    text-transform: capitalize !important
}

.w0 {
    width: 0 !important
}

.w05 {
    width: .5rem !important
}

.w1 {
    width: 1rem !important
}

.w15 {
    width: 1.5rem !important
}

.w2 {
    width: 2rem !important
}

.w25 {
    width: 2.5rem !important
}

.w3 {
    width: 3rem !important
}

.w35 {
    width: 3.5rem !important
}

.w4 {
    width: 4rem !important
}

.w45 {
    width: 4.5rem !important
}

.w5 {
    width: 5rem !important
}

.w55 {
    width: 5.5rem !important
}

.w6 {
    width: 6rem !important
}

.w65 {
    width: 6.5rem !important
}

.w7 {
    width: 7rem !important
}

.w9 {
    width: 9rem !important
}

.w11 {
    width: 11rem !important
}

.ha {
    height: auto !important
}

.w13 {
    width: 13rem !important
}

.w15 {
    width: 15rem !important
}

.w17 {
    width: 17rem !important
}

.w19 {
    width: 19rem !important
}

.w8 {
    width: 8rem !important
}

.w10 {
    width: 10rem !important
}

.w12 {
    width: 12rem !important
}

.w14 {
    width: 14rem !important
}

.w16 {
    width: 16rem !important
}

.w18 {
    width: 18rem !important
}

.w20 {
    width: 20rem !important
}

.w22 {
    width: 22rem !important
}

.w23 {
    width: 23rem !important
}

.w24 {
    width: 24rem !important
}

.w25 {
    width: 25rem !important
}

.minw0 {
    min-width: 0 !important
}

.minw05 {
    min-width: .5rem !important
}

.minw1 {
    min-width: 1rem !important
}

.minw15 {
    min-width: 1.5rem !important
}

.minw2 {
    min-width: 2rem !important
}

.minw25 {
    min-width: 2.5rem !important
}

.minw3 {
    min-width: 3rem !important
}

.minw35 {
    min-width: 3.5rem !important
}

.minw4 {
    min-width: 4rem !important
}

.minw45 {
    min-width: 4.5rem !important
}

.minw5 {
    min-width: 5rem !important
}

.minw55 {
    min-width: 5.5rem !important
}

.minw6 {
    min-width: 6rem !important
}

.minw65 {
    min-width: 6.5rem !important
}

.minw7 {
    min-width: 7rem !important
}

.maxw0 {
    max-width: 0 !important
}

.maxw05 {
    max-width: .5rem !important
}

.maxw1 {
    max-width: 1rem !important
}

.maxw15 {
    max-width: 1.5rem !important
}

.maxw2 {
    max-width: 2rem !important
}

.maxw25 {
    max-width: 2.5rem !important
}

.maxw3 {
    max-width: 3rem !important
}

.maxw35 {
    max-width: 3.5rem !important
}

.maxw4 {
    max-width: 4rem !important
}

.maxw45 {
    max-width: 4.5rem !important
}

.maxw5 {
    max-width: 5rem !important
}

.maxw55 {
    max-width: 5.5rem !important
}

.maxw6 {
    max-width: 6rem !important
}

.maxw65 {
    max-width: 6.5rem !important
}

.maxw7 {
    max-width: 7rem !important
}

.maxw10 {
    max-width: 10rem !important
}

.maxw25 {
    max-width: 25rem !important
}

.maxw35 {
    max-width: 35rem !important
}

.maxw40 {
    max-width: 40rem !important
}

.maxw45 {
    max-width: 45rem !important
}

.w75 {
    width: 75% !important
}

.w100 {
    width: 100% !important
}

.minw75 {
    min-width: 75% !important
}

.minw100 {
    min-width: 100% !important
}

.maxw75 {
    max-width: 75% !important
}

.maxw100 {
    max-width: 100% !important
}

.h0 {
    height: 0 !important
}

.h05 {
    height: .5rem !important
}

.h1 {
    height: 1rem !important
}

.h15 {
    height: 1.5rem !important
}

.h2 {
    height: 2rem !important
}

.h25 {
    height: 2.5rem !important
}

.h3 {
    height: 3rem !important
}

.h35 {
    height: 3.5rem !important
}

.h4 {
    height: 4rem !important
}

.h45 {
    height: 4.5rem !important
}

.h5 {
    height: 5rem !important
}

.h55 {
    height: 5.5rem !important
}

.h6 {
    height: 6rem !important
}

.h65 {
    height: 6.5rem !important
}

.h7 {
    height: 7rem !important
}

.minh0 {
    min-height: 0 !important
}

.minh05 {
    min-height: .5rem !important
}

.minh1 {
    min-height: 1rem !important
}

.minh15 {
    min-height: 1.5rem !important
}

.minh2 {
    min-height: 2rem !important
}

.minh25 {
    min-height: 2.5rem !important
}

.minh3 {
    min-height: 3rem !important
}

.minh35 {
    min-height: 3.5rem !important
}

.minh4 {
    min-height: 4rem !important
}

.minh45 {
    min-height: 4.5rem !important
}

.minh5 {
    min-height: 5rem !important
}

.minh55 {
    min-height: 5.5rem !important
}

.minh6 {
    min-height: 6rem !important
}

.minh65 {
    min-height: 6.5rem !important
}

.minh7 {
    min-height: 7rem !important
}

.maxh0 {
    max-height: 0 !important
}

.maxh05 {
    max-height: .5rem !important
}

.maxh1 {
    max-height: 1rem !important
}

.maxh15 {
    max-height: 1.5rem !important
}

.maxh2 {
    max-height: 2rem !important
}

.maxh25 {
    max-height: 2.5rem !important
}

.maxh3 {
    max-height: 3rem !important
}

.maxh35 {
    max-height: 3.5rem !important
}

.maxh4 {
    max-height: 4rem !important
}

.maxh45 {
    max-height: 4.5rem !important
}

.maxh5 {
    max-height: 5rem !important
}

.maxh55 {
    max-height: 5.5rem !important
}

.maxh6 {
    max-height: 6rem !important
}

.maxh65 {
    max-height: 6.5rem !important
}

.maxh7 {
    max-height: 7rem !important
}

.h25 {
    height: 25% !important
}

.h50 {
    height: 50% !important
}

.h75 {
    height: 75% !important
}

.h100 {
    height: 100% !important
}

.minh25 {
    min-height: 25% !important
}

.minh50 {
    min-height: 50% !important
}

.minh75 {
    min-height: 75% !important
}

.minh100 {
    min-height: 100% !important
}

.maxh25 {
    max-height: 25% !important
}

.maxh50 {
    max-height: 50% !important
}

.maxh75 {
    max-height: 75% !important
}

.maxh100 {
    max-height: 100% !important
}

.br5 {
    border-radius: 5px !important
}

.br10 {
    border-radius: 10px !important
}

.br15 {
    border-radius: 15px !important
}

.br20 {
    border-radius: 20px !important
}

.br50 {
    border-radius: 50% !important
}

.b1 {
    border: 1px solid !important
}

.b2 {
    border: 2px solid !important
}

.b3 {
    border: 3px solid !important
}

.bn {
    border: none !important
}

a,
a:hover {
    color: inherit !important;
    text-decoration: none !important
}

.fl {
    float: left !important
}

.fr {
    float: right !important
}

.psr {
    position: relative !important
}

.hcvc,
.psa {
    position: absolute !important
}

.hcvc {
    top: 50% !important;
    left: 50% !important;
    transform: translate(50%, 50%) !important
}

.psf {
    position: fixed !important
}

.pss {
    position: sticky !important
}

.df {
    display: flex !important
}

.di {
    display: inline !important
}

.dib {
    display: inlineblock !important
}

.db {
    display: block !important
}

.dn {
    display: none !important
}

.jcsb {
    justify-content: space-between !important
}

.jcsa {
    justify-content: space-around !important
}

.jcse {
    justify-content: space-evenly !important
}

.lstn {
    list-style-type: none !important
}

.lstc {
    list-style-type: circle !important
}

.o25 {
    opacity: .25 !important
}

.o50 {
    opacity: .5 !important
}

.o75 {
    opacity: .75 !important
}

.o1 {
    opacity: 1 !important
}

.oh {
    overflow: hidden !important
}

.oa {
    overflow: auto !important
}

.os {
    overflow: scroll !important
}

.oxh {
    overflow-x: hidden !important
}

.oxa {
    overflow-x: auto !important
}

.oxs {
    overflow-x: scroll !important
}

.oyh {
    overflow-y: hidden !important
}

.oya {
    overflow-y: auto !important
}

.oys {
    overflow-y: scroll !important
}

.pis0 {
    padding-inline-start: 0 !important
}

.pis05 {
    padding-inline-start: .5rem !important
}

.pis1 {
    padding-inline-start: 1rem !important
}

.cnd {
    cursor: nodrop !important
}

.cp {
    cursor: pointer !important
}

.bct {
    background-color: transparent !important
}

.ci {
    color: inherit !important
}

.section {
    margin: 8rem 0 !important
}

.sectionhome {
    margin: 12rem 0 !important
}

@media screen and (max-width:1200px) {
    .sectionhome {
        margin: 8rem 0 !important
    }
}

.bci {
    border-color: inherit !important
}

.cw {
    color: #fff !important
}

.cb {
    color: #000 !important
}

.cg {
    color: #74788d
}

.bcw {
    background-color: #fff !important
}

.bcb {
    background-color: #000 !important
}

.wwbw {
    word-wrap: breakword !important
}

.wbbw {
    word-break: breakword !important
}

.aic {
    align-items: center !important
}

.br3 {
    border-radius: 3rem !important
}

.br1 {
    border-radius: 1rem !important
}

.vw1 {
    font-size: 1vw !important
}

.vw2 {
    font-size: 2vw !important
}

.vw3 {
    font-size: 3vw !important
}

.vw4 {
    font-size: 4vw !important
}

.vw5 {
    font-size: 5vw !important
}

.vw6 {
    font-size: 6vw !important
}

.vw7 {
    font-size: 7vw !important
}

.vw8 {
    font-size: 8vw !important
}

.vw9 {
    font-size: 9vw !important
}

.maxh33 {
    max-height: 33rem !important
}

@media screen and (max-width:1200px) {
    .mqbdb {
        display: block !important
    }
}

.brtlr1 {
    border-radius: 1rem 1rem 0 0 !important
}

.h16 {
    height: 16rem !important
}

.maxw15 {
    max-width: 15rem !important
}

.maxw20 {
    max-width: 20rem !important
}

.maxw30 {
    max-width: 30rem !important
}

.maxh50vh {
    max-height: 50vh !important
}

.taj {
    text-align: justify !important
}

.mt50vh {
    margin-top: 50vh !important
}

.w21 {
    width: 21rem !important
}

.grayclr {
    color: gray !important
}

.maxw50 {
    max-width: 50rem !important
}

.minh30 {
    min-height: 30rem !important
}

.h20 {
    height: 20rem !important
}

.h15 {
    height: 15rem !important
}

.wbba {
    word-break: breakall !important
}

.t0 {
    top: 0 !important
}

.l0 {
    left: 0 !important
}

.h100vh {
    height: 100vh !important
}

.minh90vh {
    min-height: 90vh !important
}

.mb12 {
    margin-bottom: 12rem !important
}

.zi999 {
    z-index: 999 !important
}

.vl {
    border-right: 1px solid
}

@media screen and (min-width:1200px) {
    .mqadnvl {
        border-right: 1px solid
    }
}

.fs05 {
    font-size: .5rem !important
}

.fs07 {
    font-size: .7rem !important
}

.fs06 {
    font-size: .6rem !important
}

.jcc {
    justify-content: center !important
}

.g05 {
    gap: .5rem !important
}

.g1 {
    gap: 1rem !important
}

.g2 {
    gap: 2rem !important
}

.g3 {
    gap: 3rem !important
}

.g4 {
    gap: 4rem !important
}

.g5 {
    gap: 5rem !important
}

.g15 {
    gap: 1.5rem !important
}

.g25 {
    gap: 2.5rem !important
}

.g35 {
    gap: 3.5rem !important
}

.g45 {
    gap: 4.5rem !important
}

.g55 {
    gap: 5.5rem !important
}

.dg {
    display: grid !important
}

.gtc {
    grid-template-columns: 1fr 1fr !important
}

@media screen and (max-width:1199px) {
    .gtc {
        grid-template-columns: 1fr !important
    }

    .m-q-b-d-n {
        display: none !important
    }

    .m-q-b-m-t-3 {
        margin-top: 3rem !important
    }

    .m-q-b-m-t-1 {
        margin-top: 1rem !important
    }

    .m-q-b-m-t-5 {
        margin-top: 5rem !important
    }

    .m-q-b-m-t-10-m-b-5 {
        margin-top: 10rem !important;
        margin-bottom: 5rem !important
    }

    .mqtac {
        text-align: center !important
    }
}

@media screen and (min-width:1200px) {
    .mqmt_3 {
        margin-top: -23rem !important
    }

    .m-q-a-d-n {
        display: none !important
    }

    .m-q-a-m-t-7 {
        padding-top: 7rem !important
    }

    .m-q-a-p-r-5 {
        padding-right: 5rem !important
    }

    .m-q-a-m-l-1 {
        margin-left: 1rem !important
    }

    .m-q-a-max-w-30 {
        max-width: 30rem !important
    }

    .m-q-a-max-w-20 {
        max-width: 20rem !important
    }
}

@media screen and (max-width:1599px) {
    .m-q-b-d-n-1600 {
        display: none !important
    }
}

@media screen and (min-width:1600px) {
    .m-q-a-d-n-1600 {
        display: none !important
    }
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    padding: 12px 16px;
    z-index: 1
}

.dropdown:hover .dropdown-content {
    display: block
}

.accordion-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    font-family: Comic Sans MS, sans-serif
}

.accordion-item {
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden
}

.accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    gap: 1rem;
    background-color: #6d8064;
    color: #fff;
    font-size: 18px;
    border: 2px solid #9ebb90;
    border-radius: 12px;
    transition: background-color .3s ease
}

.accordion-header h3 {
    margin: 0
}

.accordion-header .icon {
    font-size: 20px
}

.accordion-header:hover {
    background-color: #4e6146
}

.accordion-content {
    padding: 15px;
    background-color: #6d8064;
    color: #fff;
    border: solid #6d8064;
    border-width: 2px 2px 5px 5px;
    border-radius: 40px
}

.accordion-content p {
    margin: 0;
    font-size: 16px;
    font-weight: 700
}

button.menu-button-mobile.m-l-1.btn.btn-primary,
button.menu-button-mobile.m-l-1.btn.btn-primary:hover {
    background-color: transparent !important;
    color: #000 !important;
    border: none;
    font-size: 1.5rem
}

.primary-button {
    padding: .5rem 2rem !important;
    background-color: transparent !important;
    color: inherit !important;
    float: right;
    margin-top: 2rem !important
}

img {
    height: auto !important
}

.modal.show .modal-dialog {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important
}

@keyframes flameMovement {
    50% {
        transform: scaleX(.98) translateY(2px) rotate(-1deg)
    }
}

.animation {
    animation: flameMovement 2s ease-in-out infinite
}

@keyframes scroll {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%)
    }
}

:root {
    --primary: var(--accent);
    --primary-rgb: 52, 50, 48;
    --grey: #c9c9c9;
    --smoke: #000;
    --negative: #000;
    --accent: #9b74e7;
    --h-accent: #815bcf;
    --semi-accent: #74a85e;
    --yellow: #fff;
    --h-yellow: #c5adf8;
    --red: #eb4c4c;
    --pink: #ea39d7;
    --blue: #3a80fe;
    --teal: #4beab4;
    --green: #6742b5;
    --chartreusse: #b1d559;
    --orange: #ed965c;
    --magenta: #da5378;
    --alert: #e17860;
    --border: var(--accent);
    --global-width: 1760px;
    --global-p-width: 480px;
    --global-padding: 20px;
    --global-body-bg: var(--negative);
    --gutter: 10px;
    --heading: "Milky Nice", sans-serif;
    --line-height: 1;
    --globall-line-height: 1.4;
    --reduced-line-height: 1.2;
    --body: "Valera", sans-serif;
    --h1: 20.25vw;
    --h2: 12vw;
    --h3: 9.3vw;
    --h4: 26px;
    --h5: 20px;
    --h6: 16px;
    --paragraph: 16px;
    --small: 73%;
    --rate: 0.85;
    --large-radius: 48px;
    --v-small: 20px;
    --v-medium: 50px;
    --v-large: 100px;
    --t-spacer: 11.5vh;
    --btn-huge: 21px;
    --btn-large: 18px;
    --btn-small: 16px;
    --btn-tiny: 12px;
    --btn-radius: 60px;
    --btn-padding: 20.83333px 41.66667px;
    --btn-small-padding: 10.83333px 20.83333px;
    --btn-large-padding: 31.25px 41.66667px;
    --btn-tiny-padding: 7.5px 11.66667px
}

#dropdown,
.dropdown-menu.show,
.modal-content,
.pa-1.offcanvas.offcanvas-start.show,
body,
html,
input,
select,
svg {
    background-color: #b680e5 !important;
    color: #fff;
    fill: #fff !important;
    border-color: #fff !important
}

.btn.yellow {
    background-color: var(--yellow)
}

.btn.small {
    font-size: var(--btn-small);
    padding: var(--btn-small-padding)
}

.btn {
    border: 2px solid var(--h-accent);
    border-radius: 20px !important;
    box-shadow: -5px 6px 0 0 var(--h-accent);
    color: inherit;
    cursor: pointer;
    font-family: var(--heading);
    font-size: var(--btn-large);
    line-height: 1;
    padding: var(--btn-padding);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out
}

.btn.yellow:hover {
    background-color: var(--h-yellow)
}

.btn:hover {
    box-shadow: 0 0 0 0 var(--negative);
    text-decoration: none;
    transition: all .3s ease-in-out
}

.btn-group .btn:not(:last-child) {
    margin-right: calc(var(--gutter)/2)
}

.btn.primary {
    background-color: var(--accent);
    color: var(--yellow)
}

.btn.large {
    font-size: var(--btn-huge);
    padding: var(--btn-large-padding)
}

.marquee.bordered {
    background-color: #964cd8;
    border-bottom: 2px solid var(--negative);
    border-top: 2px solid var(--negative);
    color: var(--yellow);
    font-family: var(--heading);
    padding-bottom: var(--gutter);
    padding-top: var(--gutter);
    text-transform: uppercase
}

.marquee {
    display: flex;
    flex-direction: row;
    font-size: calc(var(--paragraph)*2);
    overflow: hidden;
    position: relative;
    width: 100%
}

.marquee-left .marquee-el {
    animation-direction: reverse
}

.marquee-el {
    align-items: center;
    animation: scroll 100s linear 0s infinite;
    animation-delay: 0s;
    animation-play-state: running;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    min-width: 100%;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 1
}

.w30 {
    width: 30rem !important
}

.lp {
    color: #9b74e7 !important
}

.br30 {
    border-radius: 70px !important;
    border-style: solid #000 !important;
    border-width: 2px 2px 6px 6px !important
}

.br60 {
    border-radius: 60px !important
}

.flp {
    fill: #9b74e7 !important
}

.b_s {
    box-shadow: -5px 6px 0 0 #453552 !important
}

.b_s:hover {
    box-shadow: none !important
}

.b_s2 {
    box-shadow: -5px 6px 0 0 #453552 !important
}

.b_s2:hover {
    box-shadow: none !important
}

.b_s3 {
    box-shadow: -3px 5px 0 0 #453552 !important
}

.b_s3:hover {
    box-shadow: none !important
}

.bglp2 {
    background-color: var(--h-accent)
}

.lpd {
    color: var(--h-accent) !important
}

.c_y {
    color: #b680e5 !important
}

.bg_y {
    background-color: #b680e5 !important
}

.f_y {
    fill: #b680e5 !important
}

.bgg {
    background-color: #363535 !important
}

.f_b {
    fill: #6d8064 !important
}

.bgb {
    background-color: #b680e5 !important
}

.cg {
    color: #6d8064 !important
}

.cbb {
    color: #b680e5 !important
}

/*
! tailwindcss v3.3.5 | MIT License | https://tailwindcss.com
*/
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

:after,
:before {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0
}

fieldset,
legend {
    padding: 0
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

dialog {
    padding: 0
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

[role=button],
button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

*,
:after,
:before {
    /* --tw-border-spacing-x:0; */
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    /* --tw-ring-color:rgba(59,130,246,.5); */
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255
}

@media (prefers-color-scheme:dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0
    }
}